name: Release

on:
  push:
    tags: ["v*.*.*"]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: true

      - name: Create tags
        shell: bash
        env:
          REF_NAME: ${{ github.ref_name }}
        run: |
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions"
          for file in $(ls ext/*/go.mod); do
            dir=$(dirname $file)
            git tag -a -m "${REF_NAME}" "${dir}/${REF_NAME}"
          done
          git push --tags
